*{
    text-align: center;
}

.entire-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#container{
    display: flex;
    gap: 25px;
}

#container img{
    height: 100px;
    width: 100px;
}
button{
    border-radius: 10px;
    background-color: white;
}
