/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

*{
    text-align: center;
}

.entire-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#container{
    display: flex;
    gap: 25px;
}

#container img{
    height: 100px;
    width: 100px;
}
button{
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.2rem;
   
  
}

.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(42, 42, 42);
    opacity: 0.9;
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgb(252, 252, 252);
    width: 40%;
    max-width: 100%;
    padding: 1rem;
    opacity: 1;

}

.options-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.optionButtons{
   box-shadow: 0 9px #999;
}

.optionButtons:active{
box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.optionButtons:disabled{
    cursor: initial;
    background-color: #666;
    opacity: 0.8;
}

#human-option-placeholder,
#computer-option-placeholder{
    width: 200px;
}

.buttons-result{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#play-button{
  background-color: white;
  border: 2px solid #04AA6D;
  padding: 0.5rem 1.5rem;
  transition-duration:0.4s;
}
#play-button:hover{
  background-color: #04AA6D;
  color: white;
}

#play-again-button{
  background-color: white;
  border: 2px solid #04AA6D;
  padding: 0.2rem 0.8rem;
  transition-duration:0.2s;
}

#play-again-button:hover{
  background-color: #04AA6D;
  color: white;
}

#close-button{
  background-color: white;
  border: 2px solid #f44336;
  padding: 0.2rem 0.8rem;
  transition-duration:0.2s;
}

#close-button:hover{
  background-color: #f44336;
  color: white;
}
